################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sneik/ConsoleApp1/.vs
